body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f3eeea;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background-color: #ebe3d5;
  color: black;
  font-weight: bolder;
  font-size: 4rem;
  padding: 20px;
  border-radius: 25px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.video-container {
  flex: 1;
  margin-right: 20px;
}

.video-container video {
  width: 100%;
  border: 2px solid #88ab8e;
  border-radius: 8px;
}

.buttons-container {
  flex: 1;
  text-align: left;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #776b5d;
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b0a695;
}
